Repository saltstack/salt-ci-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-credentials, format-packer-files

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict    # Check for files that contain merge conflict strings.
      - id: trailing-whitespace     # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending       # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer       # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict    # Check for files that contain merge conflict strings.
      - id: detect-aws-credentials  # Detect AWS Credentials
        args: [--allow-missing-credentials]
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-sort-keys

  - repo: local
    hooks:
      - id: check-aws-credentials
        name: Detect Populated AWS Secrets
        entry: .pre-commit-hooks/check-aws-credentials.py
        language: script
        files: '\.json$'
        types: [file]
      - id: format-packer-files
        name: Format packer files
        entry: .pre-commit-hooks/format-packer-files.py
        language: script
        files: '\.hcl$'
        types: [file]

  # ----- Formatting ---------------------------------------------------------------------------->
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.2
    hooks:
      - id: reorder-python-imports
        args:
          - --py38-plus
          - --add-import=from __future__ import annotations

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.8+
        args: [
          --py37-plus
        ]

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [-l 100]

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        files: ^(docs/.*\.rst|src/hbneat/.*\.py)$
        additional_dependencies:
          - black==22.6.0.
  # <---- Formatting -----------------------------------------------------------------------------

  # ----- Code Analysis ------------------------------------------------------------------------->
  - repo: https://github.com/pycqa/flake8
    rev: '5.0.4'
    hooks:
      - id: flake8
        exclude: ^(demo/.*|src/hbneat/version\.py|\.pre-commit-hooks/.*\.py)$
        additional_dependencies:
        - flake8-mypy-fork
        - flake8-docstrings
        - flake8-typing-imports
  # <---- Code Analysis --------------------------------------------------------------------------


  # ----- Requirements -------------------------------------------------------------------------->
  - repo: https://github.com/saltstack/pip-tools-compile-impersonate
    rev: '4.5'
    hooks:
      - id: pip-tools-compile
        alias: compile-requirements
        name: Compile Requirements
        files: ^os-images/requirements/base\.in$
        args:
          - -v
          - --py-version=3.6
  # <---- Requirements ---------------------------------------------------------------------------

Make sure the new user exists before running the remaining steps
  os-images/AWS/centosstream/centosstream.pkr.hcl
Due: format-packer-files

The GH Actions runners runs as the default ssh username for each image
  .github/workflows/build-image-action.yml
  .github/workflows/ci.yml
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon-4-x86_64.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/windows.pkr.hcl
  tools/images.py
Due: format-packer-files

Pass `-i` to `sudo`
  os-images/AWS/files/start-github-actions-runner.sh
Due: none

We now use salt states to install the github actions runner
  golden-state-tree/github-actions-runner/account.sls
  golden-state-tree/github-actions-runner/files/github-actions-runner.systemd.unit
  golden-state-tree/github-actions-runner/files/start-github-actions-runner.sh
  golden-state-tree/github-actions-runner/init.sls
  golden-state-tree/github-actions-runner/install.sls
  golden-state-tree/os/alma-linux/init.sls
  golden-state-tree/os/amazon/init.sls
  golden-state-tree/os/arch/init.sls
  golden-state-tree/os/centos-stream/init.sls
  golden-state-tree/os/centos/init.sls
  golden-state-tree/os/debian/init.sls
  golden-state-tree/os/fedora/init.sls
  golden-state-tree/os/macos/init.sls
  golden-state-tree/os/photon/init.sls
  golden-state-tree/os/suse/init.sls
  golden-state-tree/os/ubuntu/init.sls
  golden-state-tree/os/windows/init.sls
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/files/install-github-actions-runner.sh
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon-4-x86_64.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/windows.pkr.hcl
  os-images/files/prep-pillar.sh
  tools/images.py
Due: format-packer-files

Photon OS has `/opt` with perms too closed for another user to access
  golden-state-tree/github-actions-runner/install.sls
Due: none

Also include the `root` group on Photon OS
  golden-state-tree/github-actions-runner/account.sls
Due: none

Install the GitHub Actions runner on windows too
  golden-state-tree/github-actions-runner/files/add-start-at-boot-task.ps1
  golden-state-tree/github-actions-runner/files/start-runner.ps1
  golden-state-tree/github-actions-runner/init.sls
  golden-state-tree/github-actions-runner/install.sls
  golden-state-tree/os/windows/init.sls
  golden-state-tree/os/windows/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/jq.sls
  os-images/AWS/windows/scripts/Install-AwsSsmAgent.ps1
  os-images/AWS/windows/scripts/Install-CloudWatchAgent.ps1
  os-images/AWS/windows/windows.pkr.hcl
Due: format-packer-files

Windows takes longer now
  .github/workflows/build-image-action.yml
Due: none

Install docker on windows
  golden-state-tree/os/windows/pkgs/docker.sls
  golden-state-tree/os/windows/pkgs/init.sls
Due: none

Define when the generate configs step should run
  .github/workflows/ci.yml
  tools/ci.py
Due: none

Install docker on arm for Debian and RHEL OS families
  golden-state-tree/pkgs/docker.sls
Due: none

Don't install docker on ARM platforms yet. Salt test suite not ready yet.
  golden-state-tree/pkgs/docker.sls
Due: none

Install pyyaml on the golden images
  golden-state-tree/python-pkgs/init.sls
  golden-state-tree/python-pkgs/pyyaml.sls
Due: none

Add gpg4win to Windows Golden Image
  state-tree/windows/gpg4win.sls
  state-tree/windows/init.sls
Due: none

Install gpg4win with powershell scripts
  os-images/AWS/windows/scripts/Install-Gpg4win.ps1
  os-images/AWS/windows/windows.json
Due: check-aws-credentials

Don't cleanup AWS related environment keys upon runner startup.
  golden-state-tree/github-actions-runner/files/start-github-actions-runner.sh
Due: none

Set `AGENT_TOOLSDIRECTORY` and `RUNNER_TOOL_CACHE` environment variables
  golden-state-tree/github-actions-runner/files/start-github-actions-runner.sh
  golden-state-tree/github-actions-runner/files/start-runner.ps1
Due: none

Adjust to the new onedir Salt binaries paths
  os-images/AWS/windows/scripts/Provision-System.ps1
  os-images/files/provision-system.sh
Due: none

Update to the new onedir download URLs
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon-4-x86_64.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/scripts/Provision-Salt.ps1
  os-images/AWS/windows/windows.pkr.hcl
  os-images/files/provision-salt.sh
Due: format-packer-files

Force the symlink
  golden-state-tree/os/alma-linux/config/timezone.sls
Due: none

Add make to linux platforms we test packages
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/pkgs/make.sls
Due: none

Remove unneeded :
  golden-state-tree/pkgs/make.sls
Due: none

Add Fedora 37 and 38 to the golden images
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/pkgs/docker.sls
  os-images/AWS/fedora/fedora-37-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-38-x86_64.pkrvars.hcl
Due: format-packer-files

Drop Ubuntu 18.04
  os-images/AWS/ubuntu/ubuntu-18.04-x86_64.pkrvars.hcl
Due: format-packer-files

Install rust in the golden images
  golden-state-tree/os/alma-linux/pkgs/init.sls
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/arch/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/rust.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/freebsd/pkgs/init.sls
  golden-state-tree/os/macos/pkgs/init.sls
  golden-state-tree/os/photon/pkgs/init.sls
  golden-state-tree/os/suse/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/rust.sls
  golden-state-tree/pkgs/rust.sls
Due: none
