Repository saltstack/salt-ci-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-credentials, format-packer-files

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict    # Check for files that contain merge conflict strings.
      - id: trailing-whitespace     # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending       # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer       # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict    # Check for files that contain merge conflict strings.
      - id: detect-aws-credentials  # Detect AWS Credentials
        args: [--allow-missing-credentials]
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-sort-keys

  - repo: local
    hooks:
      - id: check-aws-credentials
        name: Detect Populated AWS Secrets
        entry: .pre-commit-hooks/check-aws-credentials.py
        language: script
        files: '\.json$'
        types: [file]
      - id: format-packer-files
        name: Format packer files
        entry: .pre-commit-hooks/format-packer-files.py
        language: script
        files: '\.hcl$'
        types: [file]
#      - id: lint-github-workflows
#        name: Lint GitHub Workflows
#        entry: -v $(pwd):/repo --workdir /repo rhysd/actionlint:latest -color
#        language: docker_image
#        files: '.github/workflows/.*\.yml$'
#        types: [file]

  # ----- Formatting ---------------------------------------------------------------------------->
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.2
    hooks:
      - id: reorder-python-imports
        args:
          - --py38-plus
          - --add-import=from __future__ import annotations

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.8+
        args: [
          --py37-plus
        ]

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [-l 100]

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        files: ^(docs/.*\.rst|src/hbneat/.*\.py)$
        additional_dependencies:
          - black==22.6.0.
  # <---- Formatting -----------------------------------------------------------------------------

  # ----- Code Analysis ------------------------------------------------------------------------->
  - repo: https://github.com/pycqa/flake8
    rev: '5.0.4'
    hooks:
      - id: flake8
        exclude: ^(demo/.*|src/hbneat/version\.py|\.pre-commit-hooks/.*\.py)$
        additional_dependencies:
        - flake8-mypy-fork
        - flake8-docstrings
        - flake8-typing-imports

  - repo: https://github.com/hollow/pre-commit-actionlint
    rev: "v1.6.22"
    hooks:
      - id: actionlint
        files: '.github/workflows/.*\.yml$'
  # <---- Code Analysis --------------------------------------------------------------------------


  # ----- Requirements -------------------------------------------------------------------------->
  - repo: https://github.com/jazzband/pip-tools
    rev: "6.13.0"
    hooks:
      - id: pip-compile
        alias: pip-compile-tools
        name: Compile requirements/tools.in
        files: ^requirements/tools\.(in|txt)$
        args:
          - -v
          - --build-isolation
          - --resolver=backtracking
          - --output-file=requirements/tools.txt
          - requirements/tools.in
        additional_dependencies:
          - pip==23.1.2
  # <---- Requirements ---------------------------------------------------------------------------

Verify that the downloaded `busybox` binary runs
  golden-state-tree/download/busybox.sls
Due: none

Fix pre-commit
  os-images/AWS/photon/photon-3-arm64.pkr.hcl
Due: format-packer-files

Add logging to download-ec2-pubkey script
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
Due: none

Add logging to download-ec2-pubkey script (#1828)
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
Due: none

Disable PasswordAuthentication on Windows
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
Due: none

Disable PasswordAuthentication on Windows (#1829)
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
Due: none

Windows scheduled jobs instead of tasks
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
  os-images/AWS/windows/scripts/SysPrep.ps1
Due: none

Windows scheduled jobs instead of tasks (#1830)
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
  os-images/AWS/windows/scripts/SysPrep.ps1
Due: none

Fix scheduled job settings
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
Due: none

Don't include minor version in amznlinux 2023 name
  .github/workflows/ci.yml
  os-images/AWS/amazonlinux/amazonlinux-2023-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux-2023-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux-2023.pkr.hcl
  os-images/AWS/amazonlinux2023/amazonlinux2023-2023.1-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux2023/amazonlinux2023-2023.1-x86_64.pkrvars.hcl
Due: format-packer-files

Update Amazon Linux 2 to kernel 5.10
  os-images/AWS/amazonlinux/amazonlinux-2-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux-2-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux-2023-arm64.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux-2023-x86_64.pkr.hcl
Due: format-packer-files

Revert scheduled jobs back to scheduled tasks
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
  os-images/AWS/windows/scripts/SysPrep.ps1
Due: none

Revert scheduled jobs back to scheduled tasks (#1833)
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
  os-images/AWS/windows/scripts/SysPrep.ps1
Due: none

Upgrade to `urllib3==2.0.6` due to https://github.com/advisories/GHSA-v845-jxx5-vc9f
  requirements/tools.txt
Due: none

One more system update at the end
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Upgrade amazon linux 2; change naming for 2023
  .github/workflows/ci.yml
  os-images/AWS/amazonlinux/amazonlinux-2-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux-2-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000-2023-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000-2023-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000.pkr.hcl
  os-images/AWS/amazonlinux2023/amazonlinux2023-2023.1-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux2023/amazonlinux2023-2023.1-x86_64.pkrvars.hcl
Due: format-packer-files

Upgrade amazon linux 2; change naming for 2023 (#1836)
  .github/workflows/ci.yml
  os-images/AWS/amazonlinux/amazonlinux-2-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux-2-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000-2023-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000-2023-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000.pkr.hcl
  os-images/AWS/amazonlinux2023/amazonlinux2023-2023.1-arm64.pkrvars.hcl
  os-images/AWS/amazonlinux2023/amazonlinux2023-2023.1-x86_64.pkrvars.hcl
Due: format-packer-files

Allow enabling FIPS on Photon OS golden images
  golden-state-tree/config/sshd_config.sls
Due: none

Added samba to packages installed for RedHat and Debian/Ubuntu families for smb testing
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/amazon2023/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/photon/pkgs/init.sls
  golden-state-tree/os/suse/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
Due: none

Added samba state file to install samba
  golden-state-tree/pkgs/samba.sls
Due: none

Removed samba from Photon which only has support for samba-client
  golden-state-tree/os/photon/pkgs/init.sls
Due: none

The `amd64` architecture is not an Arm64 architecture!
  golden-state-tree/pkgs/docker.sls
Due: none

Drop Fedora 37 (EOL); add Fedora 39
  os-images/AWS/fedora/fedora-37-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-37-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-x86_64.pkrvars.hcl
Due: format-packer-files

Del CentOS Stream, Photon 3, Fedora; Add Fedora 39
  .github/workflows/ci.yml
  os-images/AWS/centosstream/centosstream-8-arm64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-8-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-9-arm64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-9-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/fedora/fedora-37-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-37-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-38-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-38-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-x86_64.pkrvars.hcl
  os-images/AWS/freebsd/freebsd-131-amd64-us-west-2.json
  os-images/AWS/freebsd/freebsd.json
  os-images/AWS/photon/photon-3-arm64.pkr.hcl
  os-images/AWS/photon/photon-3-arm64.pkrvars.hcl
  os-images/AWS/photon/photon-3-x86_64.pkr.hcl
  os-images/AWS/photon/photon-3-x86_64.pkrvars.hcl
Due: check-aws-credentials, format-packer-files

Del CentOS Stream, Photon 3, Fedora; Add Fedora 39 (#1842)
  .github/workflows/ci.yml
  os-images/AWS/centosstream/centosstream-8-arm64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-8-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-9-arm64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-9-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/fedora/fedora-37-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-37-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-38-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-38-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-x86_64.pkrvars.hcl
  os-images/AWS/freebsd/freebsd-131-amd64-us-west-2.json
  os-images/AWS/freebsd/freebsd.json
  os-images/AWS/photon/photon-3-arm64.pkr.hcl
  os-images/AWS/photon/photon-3-arm64.pkrvars.hcl
  os-images/AWS/photon/photon-3-x86_64.pkr.hcl
  os-images/AWS/photon/photon-3-x86_64.pkrvars.hcl
Due: check-aws-credentials, format-packer-files

Match AlmaLinux states to CentosStream's
  golden-state-tree/os/alma-linux/pkgs/init.sls
Due: none

Replacing AlmaLinux with Rocky Linux
  .github/workflows/ci.yml
  golden-state-tree/os/alma-linux/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/init.sls
  golden-state-tree/os/rocky/config/init.sls
  golden-state-tree/os/rocky/init.sls
  golden-state-tree/os/rocky/pkgs/epel-release.sls
  golden-state-tree/os/rocky/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/pkgs/libgit2.sls
  golden-state-tree/pkgs/libsodium.sls
  golden-state-tree/pkgs/libxml.sls
  golden-state-tree/pkgs/libxslt.sls
  golden-state-tree/pkgs/python3.sls
  golden-state-tree/pkgs/swig.sls
  os-images/AWS/rockylinux/rockylinux-8-arm64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux-8-x86_64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux-9-arm64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux-9-x86_64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux.pkr.hcl
Due: format-packer-files

Replacing AlmaLinux with Rocky Linux (#1844)
  .github/workflows/ci.yml
  golden-state-tree/os/alma-linux/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/init.sls
  golden-state-tree/os/rocky/config/init.sls
  golden-state-tree/os/rocky/init.sls
  golden-state-tree/os/rocky/pkgs/epel-release.sls
  golden-state-tree/os/rocky/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/pkgs/libgit2.sls
  golden-state-tree/pkgs/libsodium.sls
  golden-state-tree/pkgs/libxml.sls
  golden-state-tree/pkgs/libxslt.sls
  golden-state-tree/pkgs/python3.sls
  golden-state-tree/pkgs/swig.sls
  os-images/AWS/rockylinux/rockylinux-8-arm64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux-8-x86_64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux-9-arm64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux-9-x86_64.pkrvars.hcl
  os-images/AWS/rockylinux/rockylinux.pkr.hcl
Due: format-packer-files

Upgrade to Salt 3007.0 for all provisioning
  golden-state-tree/os/windows/pkgs/python3.sls
  golden-state-tree/python-pkgs/pyyaml.sls
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/rockylinux/rockylinux.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/scripts/Provision-Salt.ps1
  os-images/AWS/windows/windows.pkr.hcl
  os-images/files/provision-salt.sh
Due: format-packer-files

Upgrade to Salt 3006.8 for all provisioning
  golden-state-tree/os/windows/pkgs/python3.sls
  golden-state-tree/python-pkgs/pyyaml.sls
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/rockylinux/rockylinux.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/scripts/Provision-Salt.ps1
  os-images/AWS/windows/windows.pkr.hcl
  os-images/files/provision-salt.sh
Due: format-packer-files

Upgrade to Salt 3006.8 for all provisioning (#1845)
  golden-state-tree/os/windows/pkgs/python3.sls
  golden-state-tree/python-pkgs/pyyaml.sls
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/amazonlinux2000/amazonlinux2000.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/rockylinux/rockylinux.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/scripts/Provision-Salt.ps1
  os-images/AWS/windows/windows.pkr.hcl
  os-images/files/provision-salt.sh
Due: format-packer-files

Add Fedora 40 and Ubuntu 24.04
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/pkgs/zlib.sls
  os-images/AWS/debian/debian-10-arm64.pkrvars.hcl
  os-images/AWS/debian/debian-10-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-39-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-40-arm64.pkrvars.hcl
  os-images/AWS/fedora/fedora-40-x86_64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-23.04-arm64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-23.04-x86_64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-24.04-arm64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-24.04-x86_64.pkrvars.hcl
Due: format-packer-files
