Repository saltstack/salt-ci-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-credentials, format-packer-files

check-aws-credentials:
  name: Detect Populated AWS Secrets
  entry: .pre-commit-hooks/check-aws-credentials.py
  language: script

format-packer-files:
  name: Format packer files
  entry: .pre-commit-hooks/format-packer-files.py
  language: script

Let's not install the amazon tools at this moment
  golden-state-tree/os/alma-linux/pkgs/init.sls
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/arch/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/macos/pkgs/init.sls
  golden-state-tree/os/photon/pkgs/init.sls
  golden-state-tree/os/suse/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/init.sls
Due: none

The distro arch is now also a mandatory argument
  .github/workflows/build-image-action.yml
  os-images/AWS/almalinux/almalinux-8-x86_64.pkrvars.hcl
  os-images/AWS/almalinux/almalinux-9-x86_64.pkrvars.hcl
  tools/images.py
Due: format-packer-files

Switch to mayflower
  .gitignore
  os-images/AWS/alma/alma-8-x86-64-us-west-2.json
  os-images/AWS/alma/alma-9-x86-64-us-west-2.json
  os-images/AWS/alma/alma.json
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon.json
  os-images/AWS/arch/arch-lts-x86-64-us-west-2.json
  os-images/AWS/arch/arch.json
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centos/centos.json
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream.json
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/debian/debian-arm64.json
  os-images/AWS/debian/debian.json
  os-images/AWS/fedora/fedora-35-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-36-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora.json
  os-images/AWS/freebsd/freebsd.json
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/opensuse/opensuse.json
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/photon/photon.json
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-arm64.json
  os-images/AWS/ubuntu/ubuntu.json
  os-images/AWS/windows/windows.json
  os-images/files/cleanup-salt-onedir.sh
  os-images/files/cleanup-salt.sh
  os-images/files/install-salt-onedir.sh
  os-images/files/provision-system.sh
Due: check-aws-credentials

Use the Sulfur specific platforms file
  cicd/jenkins/alma-8-x86_64
  cicd/jenkins/alma-9-x86_64
  cicd/jenkins/amazon-2-x86_64
  cicd/jenkins/arch-lts-x86_64
  cicd/jenkins/centos-7-x86_64
  cicd/jenkins/centosstream-8-x86_64
  cicd/jenkins/centosstream-9-x86_64
  cicd/jenkins/debian-10-amd64
  cicd/jenkins/debian-11-amd64
  cicd/jenkins/debian-11-arm64
  cicd/jenkins/fedora-35-x86_64
  cicd/jenkins/fedora-36-x86_64
  cicd/jenkins/freebsd-131-amd64
  cicd/jenkins/opensuse-15-x86_64
  cicd/jenkins/photon-3-x86_64
  cicd/jenkins/ubuntu-1804-amd64
  cicd/jenkins/ubuntu-2004-amd64
  cicd/jenkins/ubuntu-2004-arm64
  cicd/jenkins/ubuntu-2204-amd64
  cicd/jenkins/ubuntu-2204-arm64
  cicd/jenkins/windows-2016-x64
  cicd/jenkins/windows-2019-x64
Due: none

Migrate Opensuse to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/opensuse/opensuse-15-x86_64.pkrvars.hcl
  os-images/AWS/opensuse/opensuse.json
  os-images/AWS/opensuse/opensuse.pkr.hcl
Due: check-aws-credentials, format-packer-files

Update to latest OpenSSH and fix downloading the public key from AWS
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
  os-images/AWS/windows/scripts/SysPrep.ps1
Due: none

Download required libraries for windows
  state-tree/python3.sls
  state-tree/windows/init.sls
  state-tree/windows/libs.sls
Due: none

Add tag `Salt-Golden-Image` to all the created golden images
  os-images/AWS/alma/alma.json
  os-images/AWS/amazon/amazon.json
  os-images/AWS/arch/arch.json
  os-images/AWS/centos/centos.json
  os-images/AWS/centosstream/centosstream.json
  os-images/AWS/debian/debian-arm64.json
  os-images/AWS/debian/debian.json
  os-images/AWS/fedora/fedora.json
  os-images/AWS/freebsd/freebsd.json
  os-images/AWS/opensuse/opensuse.json
  os-images/AWS/photon/photon.json
  os-images/AWS/ubuntu/ubuntu-arm64.json
  os-images/AWS/ubuntu/ubuntu.json
  os-images/AWS/windows/windows.json
  os-images/AWS/windows/windows_old_ver.json
Due: check-aws-credentials

Migrate Arch Linux to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/archlinux/arch-lts-x86-64-us-west-2.json
  os-images/AWS/archlinux/arch.json
  os-images/AWS/archlinux/archlinux-lts-x86_64.pkrvars.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
Due: check-aws-credentials, format-packer-files

Switch to Salt 3004.2(except on windows)
  os-images/AWS/alma/alma-8-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/freebsd/freebsd-131-amd64-us-west-2.json
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/MacStadium/macos/macos-catalina-vars.json
  os-images/MacStadium/macos/macos-highsierra-vars.json
  os-images/MacStadium/macos/macos-mojave-vars.json
Due: check-aws-credentials

Migrate PhotonOS to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/photon/photon-3-x86_64.pkrvars.hcl
  os-images/AWS/photon/photon.json
  os-images/AWS/photon/photon.pkr.hcl
Due: check-aws-credentials, format-packer-files

Switch to using the single dir tiamat build of Salt
  os-images/AWS/alma/alma-8-x86-64-us-west-2.json
  os-images/AWS/alma/alma-9-x86-64-us-west-2.json
  os-images/AWS/alma/alma.json
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon.json
  os-images/AWS/arch/arch-lts-x86-64-us-west-2.json
  os-images/AWS/arch/arch.json
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centos/centos.json
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream.json
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/debian/debian.json
  os-images/AWS/fedora/fedora-35-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-36-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora.json
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/opensuse/opensuse.json
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/photon/photon.json
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu.json
  os-images/files/cleanup-salt-onedir.sh
  os-images/files/install-salt-onedir.sh
  os-images/files/provision-system.sh
Due: check-aws-credentials

Install `awscli` and `amazon-cloudwatch-agent` in the golden images
  golden-state-tree/os/alma-linux/pkgs/init.sls
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/arch/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/macos/pkgs/init.sls
  golden-state-tree/os/photon/pkgs/init.sls
  golden-state-tree/os/suse/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/init.sls
  golden-state-tree/pkgs/amazon-cloudwatch-agent.sls
  golden-state-tree/pkgs/awscli.sls
Due: none

Install Vault
  golden-state-tree/os/alma-linux/pkgs/init.sls
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/arch/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/pkgs/vault.sls
Due: none

Switch windows to use Salt 3003.5-1
  os-images/AWS/windows/windows-2016-x64-us-west-2.json
  os-images/AWS/windows/windows-2019-x64-us-west-2.json
Due: check-aws-credentials

Migrate Fedora to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/fedora/fedora-35-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-35-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-36-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-36-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora.json
  os-images/AWS/fedora/fedora.pkr.hcl
Due: check-aws-credentials, format-packer-files

Bump to the latest nox version
  golden-state-tree/python-pkgs/nox.sls
Due: none

Install cron in PhotonOS
  golden-state-tree/os/photon/pkgs/init.sls
Due: none

Remove old README.md
  os-images/README.md
Due: none

Use a newer openssl for windows
  state-tree/windows/openssl.sls
Due: none

Support packer HCL
  tasks/build.py
Due: none

Add pre-commit hook and config to format packer hcl files
  .pre-commit-config.yaml
  .pre-commit-hooks/format-packer-files.py
Due: none

Include OS specific packages at the end of the includes
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/macos/pkgs/init.sls
  golden-state-tree/os/suse/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/init.sls
Due: none

Migrate Debian to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-10-amd64.pkrvars.hcl
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64.pkrvars.hcl
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/debian/debian-11-arm64.pkrvars.hcl
  os-images/AWS/debian/debian-arm64.json
  os-images/AWS/debian/debian.json
  os-images/AWS/debian/debian.pkr.hcl
  os-images/files/install-salt-onedir.sh
  tools/images.py
Due: check-aws-credentials, format-packer-files

Install rsync and chrome on windows golden images
  golden-state-tree/os/windows/pkgs/chrome.sls
  golden-state-tree/os/windows/pkgs/init.sls
  golden-state-tree/os/windows/pkgs/rsync.sls
Due: none

Deprecate the created AMI images after 7 days on pull requests
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  tools/images.py
Due: format-packer-files

AlmaLinux 9
  cicd/jenkins/alma-9-x86_64
  os-images/AWS/alma/alma-9-x86-64-us-west-2.json
  state-tree/swig.sls
  state-tree/timesync.sls
Due: check-aws-credentials

Fix some of the scripts now that rely solely on relenv builds
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/files/install-salt.sh
  os-images/files/provision-salt.sh
  os-images/files/provision-system.sh
Due: format-packer-files

Reload systemd units
  state-tree/docker.sls
Due: none

Fix installing(and state tree includes) for Amazon Linux
  golden-state-tree/os/amazon/pkgs/epel-release.sls
  golden-state-tree/pkgs/libgit2.sls
  golden-state-tree/pkgs/libsodium.sls
Due: none

I give up. And services are enabled by default on Debian based distros.
  state-tree/docker.sls
Due: none

Try installing nsis using our own repo entries
  state-tree/windows/nsis.sls
Due: none

There's no longer py38 on FreeSBD
  os-images/AWS/freebsd/freebsd.json
  state-tree/python-pip.sls
  state-tree/python/nox.sls
Due: check-aws-credentials

Add the new python requirements
  .pre-commit-config.yaml
  os-images/requirements/base.in
  os-images/requirements/py3.6/base.txt
  requirements/tools.in
  requirements/tools.txt
Due: none

Install the latest git on windows
  os-images/AWS/windows/scripts/Install-Git.ps1
Due: none

Migrate Ubuntu to packer HCL
  .github/workflows/ci.yml
  os-images/AWS/debian/scripts/apt.sh
  os-images/AWS/ubuntu/scripts/apt.sh
  os-images/AWS/ubuntu/ubuntu-18.04-amd64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-20.04-amd64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-20.04-arm64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-22.04-amd64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-22.04-arm64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-arm64.json
  os-images/AWS/ubuntu/ubuntu.json
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: check-aws-credentials, format-packer-files

Minor update to the windows golden image
  os-images/AWS/windows/windows.json
Due: check-aws-credentials

Simplify the docker state
  golden-state-tree/os/amazon/pkgs/docker.sls
  golden-state-tree/os/amazon/pkgs/init.sls
  golden-state-tree/pkgs/docker.sls
Due: none

Generate the matrix on the pipeline
  .github/workflows/build-image-action.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit-action.yml
  tools/images.py
Due: none

Fedora 36
  cicd/jenkins/fedora-36-x86_64
  os-images/AWS/fedora/fedora-36-x86-64-us-west-2.json
Due: check-aws-credentials

Path conditions:
  check-aws-credentials: any of: \.json$
  format-packer-files: any of: \.hcl$
