Repository saltstack/salt-ci-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-credentials, format-packer-files

check-aws-credentials:
  name: Detect Populated AWS Secrets
  entry: .pre-commit-hooks/check-aws-credentials.py
  language: script

format-packer-files:
  name: Format packer files
  entry: .pre-commit-hooks/format-packer-files.py
  language: script

Allow choosing from stable, dev or rc of the onedir build
  os-images/AWS/alma/alma-8-x86-64-us-west-2.json
  os-images/AWS/alma/alma.json
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon.json
  os-images/AWS/arch/arch-lts-x86-64-us-west-2.json
  os-images/AWS/arch/arch.json
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centos/centos.json
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream.json
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian.json
  os-images/AWS/fedora/fedora-35-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora.json
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/opensuse/opensuse.json
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/photon/photon.json
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu.json
  os-images/files/install-salt-onedir.sh
Due: check-aws-credentials

Let's try Daniel's one dir build
  os-images/files/install-salt-onedir.sh
  os-images/files/provision-system.sh
Due: none

Use a more recent onedir build
  os-images/files/install-salt-onedir.sh
Due: none

Add Ubuntu 22 for ARM64
  cicd/jenkins/ubuntu-2204-arm64
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
Due: check-aws-credentials

Run only on push events, or on pull requests events not coming from our repository
  .github/workflows/ci.yml
Due: none

Issue ``daemon-reload`` to systemd after installing docker
  state-tree/docker.sls
Due: none

Install docker from system packages for Photon OS
  golden-state-tree/pkgs/docker.sls
Due: none

Mayflower is not yet ready for ARM provisioning
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/debian/debian-arm64.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-arm64.json
Due: check-aws-credentials

Let's see if this fixes openSuse installing libopenssl-3-devel ...
  golden-state-tree/pkgs/openssl-dev.sls
Due: none

Drop python 2
  .kitchen.yml
  state-tree/_python.sls
  state-tree/buildpackage/init.sls
  state-tree/python-apt.sls
  state-tree/python-pip.sls
  state-tree/python/headers.sls
  state-tree/python/init.sls
  state-tree/python27.sls
  state-tree/versionlock.sls
Due: none

Set system-wide crypto to LEGACY
  os-images/AWS/centosstream/centosstream.json
Due: check-aws-credentials

We can't use onedir yet on ARM platforms
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/debian/debian-arm64.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-arm64.json
Due: check-aws-credentials

Make sure the ``sshd`` service is set to start and is reloaded
  state-tree/golden-images-provision.sls
  state-tree/sshd.sls
  state-tree/sshd_config.sls
Due: none

We don't really need packer to output the timestamps
  tools/images.py
Due: none

Update os-images/files/provision-system.sh
  os-images/files/provision-system.sh
Due: none

Update pre-commit hooks.
  .flake8
  .pre-commit-config.yaml
  .pre-commit-hooks/check-aws-credentials.py
  os-images/requirements/py3.6/base.txt
  tasks/__init__.py
  tasks/build.py
  tasks/cleanup.py
  tasks/promote.py
Due: none

Fix the owner and search filter for the Arch Linux AMIs
  os-images/AWS/arch/arch-lts-x86-64-us-west-2.json
Due: check-aws-credentials

Contrary to their own documentation, the ssh user is STILL ``centos``.
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
Due: check-aws-credentials

Restart/reload sshd service
  golden-state-tree/config/sshd_config.sls
Due: none

First grab the token to be able to download the SSH Key from AWS
  os-images/AWS/windows/scripts/InstallAndConfigureOpenSSH.ps1
Due: none

Migrate CentOS Stream to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-8-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream.json
  os-images/AWS/centosstream/centosstream.pkr.hcl
Due: check-aws-credentials, format-packer-files

Switch to the ``master-2.0`` branch
  cicd/jenkins/.macosx-catalina-x86_64
  cicd/jenkins/alma-8-x86_64
  cicd/jenkins/alma-9-x86_64
  cicd/jenkins/amazon-2-x86_64
  cicd/jenkins/arch-lts-x86_64
  cicd/jenkins/centos-7-x86_64
  cicd/jenkins/centosstream-8-x86_64
  cicd/jenkins/centosstream-9-x86_64
  cicd/jenkins/debian-10-amd64
  cicd/jenkins/debian-11-amd64
  cicd/jenkins/debian-11-arm64
  cicd/jenkins/fedora-35-x86_64
  cicd/jenkins/fedora-36-x86_64
  cicd/jenkins/freebsd-131-amd64
  cicd/jenkins/opensuse-15-x86_64
  cicd/jenkins/photon-3-x86_64
  cicd/jenkins/ubuntu-1804-amd64
  cicd/jenkins/ubuntu-2004-amd64
  cicd/jenkins/ubuntu-2004-arm64
  cicd/jenkins/ubuntu-2204-amd64
  cicd/jenkins/ubuntu-2204-arm64
  cicd/jenkins/windows-2016-x64
  cicd/jenkins/windows-2019-x64
Due: none

Update README.rst and remove no longer required files
  .kitchen.yml
  Gemfile
  README.rst
  tasks/__init__.py
  tasks/build.py
  tasks/cleanup.py
  tasks/promote.py
Due: none

Add the new tools scripts to build golden images
  tools/__init__.py
  tools/images.py
Due: none

Let's have openssl-dev installed before libgit2
  golden-state-tree/pkgs/libgit2.sls
  golden-state-tree/pkgs/openssl-dev.sls
Due: none

Migrate CentOS to the new packer config files
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centos/centos-7-x86_64.pkrvars.hcl
  os-images/AWS/centos/centos.json
  os-images/AWS/centos/centos.pkr.hcl
Due: check-aws-credentials, format-packer-files

Additional Arch golden image fixes
  os-images/AWS/arch/arch.json
Due: check-aws-credentials

The build type is now defined internally
  os-images/AWS/almalinux/almalinux.pkr.hcl
  tools/images.py
Due: format-packer-files

Only install tools if the `tools` script cannot be found
  .github/workflows/build-image-action.yml
Due: none

Migrated AlmaLinux to the new packer format
  os-images/AWS/alma/alma-8-x86-64-us-west-2.json
  os-images/AWS/alma/alma-9-x86-64-us-west-2.json
  os-images/AWS/alma/alma.json
  os-images/AWS/almalinux/almalinux-8.pkrvars.hcl
  os-images/AWS/almalinux/almalinux-9.pkrvars.hcl
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/windows/windows.json
Due: check-aws-credentials, format-packer-files

Easier names for requires
  golden-state-tree/pkgs/dmidecode.sls
  golden-state-tree/pkgs/dnsutils.sls
  golden-state-tree/pkgs/gpg.sls
  golden-state-tree/pkgs/libffi.sls
  golden-state-tree/pkgs/libsodium.sls
  golden-state-tree/pkgs/libxml.sls
  golden-state-tree/pkgs/libxslt.sls
  golden-state-tree/pkgs/man.sls
  golden-state-tree/pkgs/openssl-dev.sls
  golden-state-tree/pkgs/patch.sls
  golden-state-tree/pkgs/rng-tools.sls
  golden-state-tree/pkgs/sed.sls
Due: none

Separate install from service
  state-tree/docker.sls
Due: none

Migrate AmazonLinux to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon.json
  os-images/AWS/amazonlinux/amazonlinux-2-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
Due: check-aws-credentials, format-packer-files

Use the latest onedir build
  os-images/files/install-salt-onedir.sh
Due: none

A more recent Py3.8 on Windows
  state-tree/golden-images-provision.sls
  state-tree/python3.sls
Due: none

Stop sshd and then start it
  golden-state-tree/config/sshd_config.sls
Due: none

Take into account changed files to skip builds
  .github/workflows/ci.yml
Due: none

Set salt-call log level to warning. Bootstrap chocolatey.
  os-images/AWS/windows/scripts/Provision-System.ps1
Due: none

Onedir builds needs libxcrypt-compat on Arch Linux
  os-images/AWS/arch/arch.json
Due: check-aws-credentials

All created AMI's are private
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Path conditions:
  check-aws-credentials: any of: \.json$
  format-packer-files: any of: \.hcl$
