Repository saltstack/salt-ci-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-credentials, format-packer-files

check-aws-credentials:
  name: Detect Populated AWS Secrets
  entry: .pre-commit-hooks/check-aws-credentials.py
  language: script

format-packer-files:
  name: Format packer files
  entry: .pre-commit-hooks/format-packer-files.py
  language: script

Generate the matrix on the pipeline
  .github/workflows/build-image-action.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit-action.yml
  tools/images.py
Due: none

The distro arch is now also a mandatory argument
  .github/workflows/build-image-action.yml
  os-images/AWS/almalinux/almalinux-8-x86_64.pkrvars.hcl
  os-images/AWS/almalinux/almalinux-9-x86_64.pkrvars.hcl
  tools/images.py
Due: format-packer-files

Add github actions workflows
  .github/workflows/build-image-action.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit-action.yml
Due: none

Migrate Debian to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-10-amd64.pkrvars.hcl
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64.pkrvars.hcl
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/debian/debian-11-arm64.pkrvars.hcl
  os-images/AWS/debian/debian-arm64.json
  os-images/AWS/debian/debian.json
  os-images/AWS/debian/debian.pkr.hcl
  os-images/files/install-salt-onedir.sh
  tools/images.py
Due: check-aws-credentials, format-packer-files

Run only on push events, or on pull requests events not coming from our repository
  .github/workflows/ci.yml
Due: none

Deprecate the created AMI images after 7 days on pull requests
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  tools/images.py
Due: format-packer-files

Fix some of the scripts now that rely solely on relenv builds
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/files/install-salt.sh
  os-images/files/provision-salt.sh
  os-images/files/provision-system.sh
Due: format-packer-files

Only install tools if the `tools` script cannot be found
  .github/workflows/build-image-action.yml
Due: none

We don't really need packer to output the timestamps
  tools/images.py
Due: none

A better way to generate the matrix
  .github/workflows/build-image-action.yml
  tools/images.py
Due: none

The build type is now defined internally
  os-images/AWS/almalinux/almalinux.pkr.hcl
  tools/images.py
Due: format-packer-files

Don't publish AMIs unless pushed to the default branch
  .github/workflows/build-image-action.yml
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  tools/images.py
Due: format-packer-files

Migrate Arch Linux to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/archlinux/arch-lts-x86-64-us-west-2.json
  os-images/AWS/archlinux/arch.json
  os-images/AWS/archlinux/archlinux-lts-x86_64.pkrvars.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
Due: check-aws-credentials, format-packer-files

All created AMI's are private
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Remove old README.md
  os-images/README.md
Due: none

Migrate CentOS to the new packer config files
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centos/centos-7-x86_64.pkrvars.hcl
  os-images/AWS/centos/centos.json
  os-images/AWS/centos/centos.pkr.hcl
Due: check-aws-credentials, format-packer-files

Migrate Ubuntu to packer HCL
  .github/workflows/ci.yml
  os-images/AWS/debian/scripts/apt.sh
  os-images/AWS/ubuntu/scripts/apt.sh
  os-images/AWS/ubuntu/ubuntu-18.04-amd64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-20.04-amd64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-20.04-arm64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-22.04-amd64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-22.04-arm64.pkrvars.hcl
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-arm64.json
  os-images/AWS/ubuntu/ubuntu.json
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: check-aws-credentials, format-packer-files

Migrate AmazonLinux to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon.json
  os-images/AWS/amazonlinux/amazonlinux-2-x86_64.pkrvars.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
Due: check-aws-credentials, format-packer-files

Migrate CentOS Stream to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-8-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86_64.pkrvars.hcl
  os-images/AWS/centosstream/centosstream.json
  os-images/AWS/centosstream/centosstream.pkr.hcl
Due: check-aws-credentials, format-packer-files

The images are private for the time being
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Update README.rst and remove no longer required files
  .kitchen.yml
  Gemfile
  README.rst
  tasks/__init__.py
  tasks/build.py
  tasks/cleanup.py
  tasks/promote.py
Due: none

Take into account changed files to skip builds
  .github/workflows/ci.yml
Due: none

Migrate Fedora to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/fedora/fedora-35-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-35-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora-36-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-36-x86_64.pkrvars.hcl
  os-images/AWS/fedora/fedora.json
  os-images/AWS/fedora/fedora.pkr.hcl
Due: check-aws-credentials, format-packer-files

Migrate PhotonOS to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/photon/photon-3-x86_64.pkrvars.hcl
  os-images/AWS/photon/photon.json
  os-images/AWS/photon/photon.pkr.hcl
Due: check-aws-credentials, format-packer-files

Migrate Opensuse to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/opensuse/opensuse-15-x86_64.pkrvars.hcl
  os-images/AWS/opensuse/opensuse.json
  os-images/AWS/opensuse/opensuse.pkr.hcl
Due: check-aws-credentials, format-packer-files

Update os-images/files/provision-system.sh
  os-images/files/provision-system.sh
Due: none

Bump test run timeouts by two hours
  cicd/jenkins/.macosx-catalina-x86_64
  cicd/jenkins/alma-8-x86_64
  cicd/jenkins/alma-9-x86_64
  cicd/jenkins/amazon-2-x86_64
  cicd/jenkins/arch-lts-x86_64
  cicd/jenkins/centos-7-x86_64
  cicd/jenkins/centosstream-8-x86_64
  cicd/jenkins/centosstream-9-x86_64
  cicd/jenkins/debian-10-amd64
  cicd/jenkins/debian-11-amd64
  cicd/jenkins/debian-11-arm64
  cicd/jenkins/fedora-35-x86_64
  cicd/jenkins/fedora-36-x86_64
  cicd/jenkins/freebsd-131-amd64
  cicd/jenkins/opensuse-15-x86_64
  cicd/jenkins/photon-3-x86_64
  cicd/jenkins/ubuntu-1804-amd64
  cicd/jenkins/ubuntu-2004-amd64
  cicd/jenkins/ubuntu-2004-arm64
  cicd/jenkins/ubuntu-2204-amd64
  cicd/jenkins/ubuntu-2204-arm64
  cicd/jenkins/windows-2016-x64
  cicd/jenkins/windows-2019-x64
Due: none

Less state entries rendered for windows
  state-tree/golden-images-provision.sls
Due: none

Install ``python-unversioned-command`` on Fedora
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/python3.sls
Due: none

Debugging logging while provisioning
  os-images/files/provision-system.sh
Due: none

Remove old Jenkins jobs
  cicd/jenkins/.macosx-catalina-x86_64
  cicd/jenkins/alma-8-x86_64
  cicd/jenkins/alma-9-x86_64
  cicd/jenkins/amazon-2-x86_64
  cicd/jenkins/arch-lts-x86_64
  cicd/jenkins/centos-7-x86_64
  cicd/jenkins/centosstream-8-x86_64
  cicd/jenkins/centosstream-9-x86_64
  cicd/jenkins/debian-10-amd64
  cicd/jenkins/debian-11-amd64
  cicd/jenkins/debian-11-arm64
  cicd/jenkins/fedora-35-x86_64
  cicd/jenkins/fedora-36-x86_64
  cicd/jenkins/freebsd-131-amd64
  cicd/jenkins/opensuse-15-x86_64
  cicd/jenkins/photon-3-x86_64
  cicd/jenkins/ubuntu-1804-amd64
  cicd/jenkins/ubuntu-2004-amd64
  cicd/jenkins/ubuntu-2004-arm64
  cicd/jenkins/ubuntu-2204-amd64
  cicd/jenkins/ubuntu-2204-arm64
  cicd/jenkins/windows-2016-x64
  cicd/jenkins/windows-2019-x64
Due: none

Print the grains information of the system being provisioned.
  os-images/files/provision-system.sh
Due: none

Install rng-tools
  state-tree/golden-images-provision.sls
  state-tree/rng-tools.sls
Due: none

``nsis`` is not really used in salt, nuke it
  state-tree/windows/init.sls
  state-tree/windows/nsis.sls
Due: none

We no longer need to enable LEGACY crypto
  os-images/AWS/centosstream/centosstream.json
Due: check-aws-credentials

Path conditions:
  check-aws-credentials: any of: \.json$
  format-packer-files: any of: \.hcl$
