Repository saltstack/salt-ci-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-aws-credentials, format-packer-files

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict    # Check for files that contain merge conflict strings.
      - id: trailing-whitespace     # Trims trailing whitespace.
        args: [--markdown-linebreak-ext=md]
      - id: mixed-line-ending       # Replaces or checks mixed line ending.
        args: [--fix=lf]
      - id: end-of-file-fixer       # Makes sure files end in a newline and only a newline.
      - id: check-merge-conflict    # Check for files that contain merge conflict strings.
      - id: detect-aws-credentials  # Detect AWS Credentials
        args: [--allow-missing-credentials]
      - id: check-json
      - id: pretty-format-json
        args:
          - --autofix
          - --indent=2
          - --no-sort-keys

  - repo: local
    hooks:
      - id: check-aws-credentials
        name: Detect Populated AWS Secrets
        entry: .pre-commit-hooks/check-aws-credentials.py
        language: script
        files: '\.json$'
        types: [file]
      - id: format-packer-files
        name: Format packer files
        entry: .pre-commit-hooks/format-packer-files.py
        language: script
        files: '\.hcl$'
        types: [file]

  # ----- Formatting ---------------------------------------------------------------------------->
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.8.2
    hooks:
      - id: reorder-python-imports
        args:
          - --py38-plus
          - --add-import=from __future__ import annotations

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.3
    hooks:
      - id: pyupgrade
        name: Rewrite Code to be Py3.8+
        args: [
          --py37-plus
        ]

  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args: [-l 100]

  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
      - id: blacken-docs
        args: [--skip-errors]
        files: ^(docs/.*\.rst|src/hbneat/.*\.py)$
        additional_dependencies:
          - black==22.6.0.
  # <---- Formatting -----------------------------------------------------------------------------

  # ----- Code Analysis ------------------------------------------------------------------------->
  - repo: https://github.com/pycqa/flake8
    rev: '5.0.4'
    hooks:
      - id: flake8
        exclude: ^(demo/.*|src/hbneat/version\.py|\.pre-commit-hooks/.*\.py)$
        additional_dependencies:
        - flake8-mypy-fork
        - flake8-docstrings
        - flake8-typing-imports
  # <---- Code Analysis --------------------------------------------------------------------------


  # ----- Requirements -------------------------------------------------------------------------->
  - repo: https://github.com/saltstack/pip-tools-compile-impersonate
    rev: '4.5'
    hooks:
      - id: pip-tools-compile
        alias: compile-requirements
        name: Compile Requirements
        files: ^os-images/requirements/base\.in$
        args:
          - -v
          - --py-version=3.6
  # <---- Requirements ---------------------------------------------------------------------------

Always pass the `aws_region` variable on the CLI
  os-images/AWS/alma/alma-8-x86-64-us-west-2.json
  os-images/AWS/alma/alma-9-x86-64-us-west-2.json
  os-images/AWS/amazon/amazon-2-x86-64-us-west-2.json
  os-images/AWS/arch/arch-lts-x86-64-us-west-2.json
  os-images/AWS/centos/centos-7-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-8-x86-64-us-west-2.json
  os-images/AWS/centosstream/centosstream-9-x86-64-us-west-2.json
  os-images/AWS/debian/debian-10-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-amd64-us-west-2.json
  os-images/AWS/debian/debian-11-arm64-us-west-2.json
  os-images/AWS/fedora/fedora-35-x86-64-us-west-2.json
  os-images/AWS/fedora/fedora-36-x86-64-us-west-2.json
  os-images/AWS/freebsd/freebsd-131-amd64-us-west-2.json
  os-images/AWS/opensuse/opensuse-15-x86-64-us-west-2.json
  os-images/AWS/photon/photon-3-x86-64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-1804-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2004-arm64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-amd64-us-west-2.json
  os-images/AWS/ubuntu/ubuntu-2204-arm64-us-west-2.json
  os-images/AWS/windows/windows-2008r2-us-west-2.json
  os-images/AWS/windows/windows-2012r2-us-west-2.json
  os-images/AWS/windows/windows-2016-x64-us-west-2.json
  os-images/AWS/windows/windows-2019-x64-us-west-2.json
  tasks/build.py
Due: check-aws-credentials

Stop building macOS
  cicd/jenkins/.macosx-catalina-x86_64
Due: none

`self` is not a valid value for `ami_users` which is also not required
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Add code to delete AMI's
  tools/images.py
Due: none

Generate a build summary
  tools/images.py
Due: none

Print the contents of the generated `manifest.json`
  .github/workflows/build-image-action.yml
Due: none

Fix lint issues reported by actionlint
  .github/workflows/build-image-action.yml
Due: none

We really don't need the summary header
  tools/images.py
Due: none

Update the GH workflow `checkout`, `setup-packer` and `delete-artifact` actions versions
  .github/workflows/build-image-action.yml
  .github/workflows/ci.yml
  .github/workflows/pre-commit-action.yml
Due: none

Let's use monospaced formatted strings
  tools/images.py
Due: none

Get information about what should from from a specific job
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  tools/__init__.py
  tools/ci.py
Due: none

Use a golden images provisioning specific security group
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Prefix the `Name` tag with `Salt Project`
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Migrate Windows to the new packer config files
  .github/workflows/ci.yml
  os-images/AWS/windows/scripts/Install-Salt.ps1
  os-images/AWS/windows/scripts/Provision-Salt.ps1
  os-images/AWS/windows/scripts/Provision-System.ps1
  os-images/AWS/windows/scripts/SetUpWinRM.ps1
  os-images/AWS/windows/scripts/Uninstall-Salt.ps1
  os-images/AWS/windows/scripts/update-git-path.ps1
  os-images/AWS/windows/windows-2008r2-us-west-2.json
  os-images/AWS/windows/windows-2008r2.json
  os-images/AWS/windows/windows-2012r2-us-west-2.json
  os-images/AWS/windows/windows-2012r2.json
  os-images/AWS/windows/windows-2016-amd64.pkrvars.hcl
  os-images/AWS/windows/windows-2016-x64-us-west-2.json
  os-images/AWS/windows/windows-2019-amd64.pkrvars.hcl
  os-images/AWS/windows/windows-2019-x64-us-west-2.json
  os-images/AWS/windows/windows-2022-amd64.pkrvars.hcl
  os-images/AWS/windows/windows.json
  os-images/AWS/windows/windows.json.pkr.hcl
  os-images/AWS/windows/windows.pkr.hcl
  os-images/AWS/windows/windows_old_ver.json
Due: check-aws-credentials, format-packer-files

Undo WinRM setup at the end
  os-images/AWS/windows/scripts/Undo-WinRMConfig.ps1
  os-images/AWS/windows/windows.pkr.hcl
Due: format-packer-files

Use a hardcoded password for provisioning.
  os-images/AWS/windows/scripts/SetUpWinRM.ps1
  os-images/AWS/windows/windows.pkr.hcl
Due: format-packer-files

Print the event payload
  tools/ci.py
Due: none

Fix processing pull request event payloads
  tools/ci.py
  tools/images.py
Due: none

Handles Windows Server 2022
  os-images/AWS/windows/scripts/SysPrep.ps1
Due: none

Revert "Undo WinRM setup at the end"
  os-images/AWS/windows/scripts/Undo-WinRMConfig.ps1
  os-images/AWS/windows/windows.pkr.hcl
Due: format-packer-files

Clean up the tags, and add a `no-delete` tag set to `false `
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/windows.pkr.hcl
Due: format-packer-files

Remove white-space from Photon ami filter
  os-images/AWS/photon/photon-3-x86_64.pkrvars.hcl
Due: format-packer-files

Wait for other apt processes to finish
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Fix `launch_block_device_mappings` on Arch Linux
  os-images/AWS/archlinux/arch-lts-x86-64-us-west-2.json
  os-images/AWS/archlinux/arch.json
  os-images/AWS/archlinux/archlinux.pkr.hcl
Due: check-aws-credentials, format-packer-files

Add a `ssh-username` tag with the image default username as value
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
  os-images/AWS/windows/windows.pkr.hcl
Due: format-packer-files

Fix CentOS 7 filter for new images
  os-images/AWS/centos/centos-7-x86_64.pkrvars.hcl
Due: format-packer-files

Improved cleanup
  os-images/AWS/almalinux/almalinux.pkr.hcl
  os-images/AWS/amazonlinux/amazonlinux.pkr.hcl
  os-images/AWS/archlinux/archlinux.pkr.hcl
  os-images/AWS/centos/centos.pkr.hcl
  os-images/AWS/centosstream/centosstream.pkr.hcl
  os-images/AWS/debian/debian.pkr.hcl
  os-images/AWS/fedora/fedora.pkr.hcl
  os-images/AWS/files/cleanup-linux.sh
  os-images/AWS/opensuse/opensuse.pkr.hcl
  os-images/AWS/photon/photon.pkr.hcl
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Add ipset
  golden-state-tree/os/arch/pkgs/init.sls
  golden-state-tree/os/centos-stream/pkgs/init.sls
  golden-state-tree/os/centos/pkgs/init.sls
  golden-state-tree/os/debian/pkgs/init.sls
  golden-state-tree/os/fedora/pkgs/init.sls
  golden-state-tree/os/suse/pkgs/init.sls
  golden-state-tree/os/ubuntu/pkgs/init.sls
  golden-state-tree/pkgs/ipset.sls
Due: none

The main block device on Ubuntu AMI's is `/dev/sda1`
  os-images/AWS/ubuntu/ubuntu.pkr.hcl
Due: format-packer-files

Pick the AWS region from the environment. Default to `us-west-2`
  tools/images.py
Due: none

Add Photon OS 4
  os-images/AWS/photon/photon-3-x86_64.pkrvars.hcl
  os-images/AWS/photon/photon-4-x86_64.pkr.hcl
  os-images/AWS/photon/photon-4-x86_64.pkrvars.hcl
Due: format-packer-files
